name: Standalone

on:
  push:
  pull_request:

jobs:
  build:
    strategy:
      matrix:
        target: [{"runtime": 'ubuntu-x64', "artifact": "EchoPatcher-ubuntu.zip"}, {"runtime": 'win-x64', "artifact": "EchoPatcher-windows.zip"}]

    runs-on: windows-latest
    name: Build for ${{ matrix.target.runtime }}

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '7.0.x'
    - name: Install dependencies
      run: dotnet restore
    - uses: suisei-cn/actions-download-file@v1.3.0
      name: Download libr15loader
      with:
        url: "https://github.com/RedBrumbler/Libr15Loader/releases/latest/download/libr15.so"
        target: EchoPatcher/Resources/libr15.so
    - name: Build ${{ matrix.target.runtime }}
      run: dotnet publish EchoPatcher/EchoPatcher.csproj -r ${{ matrix.target.runtime }} -c Release
    - name: Copy license
      run: cp LICENSE EchoPatcher/bin/Release/net7.0/${{ matrix.target.runtime }}/publish/LICENSE.txt
    - name: Artifact Upload ${{ matrix.target.runtime }}
      uses: actions/upload-artifact@v2
      with:
        name: ${{ matrix.target.runtime }}/